#header{
    height: 150px;
    background-color: rgb(255, 0, 76);
    padding-top: 2rem;
    padding-left: 5rem;
    color: white;
}


  #search{
    background-color: rgb(255, 0, 76);
  }

  .dropdown{
      display: block;
  }